@media screen and (min-width: 50rem) {
  .container {
    margin: auto;
    padding: 1rem;
    max-width: 60rem;
  }

  body {
    /* background-image:url(); */
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
  }

  .jumbotron {
    border: 12px black;
    padding: 34px;
    box-sizing: border-box;
    border-style: groove;
    border-radius: 0 0 85% 85% / 30%;
  }

  #gender, #age , #kids , #school , #working {
    border-style: solid;
    border-radius: 20px;
    border-color: darkgoldenrod;
    border-width: 5px;
    padding: 25px;
    font-weight: bolder;
    background-color: silver;
  }

  #gender , #age , #kids , #school , #working {
    font-family: 'Big Shoulders Inline Text', cursive;
    text-align: center;
  }

  .btn-success {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,109,1,1) 55%);
    border-radius: 25px;
    margin: 0 auto;
    padding: 13px;
    display: block;
    font-weight: bolder;
    text-align: center;
    color: black;
  }
}  